
@font-face {
  font-family: serif;
}

* {
  font-family: serif;
  box-sizing: border-box;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}


html { 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ffffff 0%, #64c819 35%, #008800 100%);
	background: -webkit-linear-gradient(45deg,  #ffffff 0%,#64c819 35%,#008800 100%);
	background: linear-gradient(45deg,  #ffffff 0%,#64c819 35%,#008800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#008800',GradientType=1 );
	no-repeat center fixed; 
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 45px;
}

saat {
	text-align: right;
	font-size: 24px;
}

h2, form, iframe {
  text-align: center;
  font-size: 27px;
}

p {
  color: black;
  font-size: 18px;
  padding: 12px 12px;
}

sp {
  color: black;
  font-size: 12px;
  text-align: center;
}

centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
